html {
  background-color: black; 
}

.App {
  text-align: center;
  line-height: 2; 
  color: black; 
  border: 1px solid black; 
  box-shadow: 0px 2px 2px 2px; 
  margin: auto; 
  padding: 10px; 
  width: 50%; 
  animation-name: 'thebox';
  animation-iteration-count: infinite; 
  animation-duration: 20s; 
  
}

h1{
  text-decoration: underline; 
}

.nav-font{
  font-size: 20px; 
  color: black; 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

p{
  font-weight: bold; 
}


@keyframes thebox {
  0% {
    background-color: violet;
  }
  10% {
    background-color: tomato;
  }
  20% {
    background-color: aquamarine
  }
  30%{
    background-color: blueviolet
  }
  40%{
    background-color: lightgreen
  }
  50%{
    background-color: seagreen
  }
  60%{
    background-color: burlywood
  }
  70%{
    background-color: lightcoral
  }
  80%{
    background-color: lavender
  }
  90%{
    background-color: azure
  }
  100%{
    background-color: plum
  }
}
